<div class="modal-drop">
  <div class="modal">
    <div class="modal-content">
      <div class="img-wrapper"><div class="clock"></div></div>
      <div *ngIf="!reconnecting">Reconnecting in {{getTime()}} seconds ...</div>
      <div *ngIf="reconnecting">Reconnecting now</div>
      <button class="reconnect-now-btn" (click)="connect()"></button>
    </div>
  </div>

</div>
