.wrapper {
  background: #e6e6ef;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  .enter-wrapper {
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    width: 60%;
    height: calc(74%);
    top: 12%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    z-index: 1;

    .logo-wrapper {
      text-align: center;
      .logo {
        background: url("../../assets/img/web-logo_main 1.png") no-repeat;
        background-size: cover;
        display: inline-block;
        margin-top: 100px;
        width: 400px;
        height: 163px;
      }
    }

    .terms {
      margin-top: 116px;
      font-size: 20px;
      font-weight: 400;

      .custom-checkbox input[type="checkbox"] {
        visibility: hidden;
      }

      .custom-checkbox span {
        width: 20px;
        height: 20px;
        margin-right: 30px;
        display: inline-block;
        background: url("../../assets/img/web-check 2.png");
      }

      .custom-checkbox input:checked + span {
        background: url("../../assets/img/web-check 1.png");
      }

      label {
        vertical-align: middle;
      }

      a {
        cursor: pointer;
        color: #6300FF;
        font-weight: bold;
      }
    }

    .enter-btn {
      background-color: transparent;
      background-image: url("../../assets/img/web-enter 1.png");
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
      cursor: pointer;
      margin-top: 60px;
      height: 77px;
      width: 245px;

      &:disabled {
        opacity: 0.8;
        cursor: default;
      }
    }


  }

  .clubs-bg {
    background: url('../../assets/img/clubs_bg.png') center center no-repeat;
    width: 232px;
    height: 250px;
    position: absolute;
    top: -1%;
    right: 29%;
  }

  .hearts-bg {
    background: url('../../assets/img/hearts_bg.png') center center no-repeat;
    width: 283px;
    height: 274px;
    position: absolute;
    top: 25%;
    left: 13%;
  }

  .spades-bg {
    background: url('../../assets/img/spades_bg.png') center center no-repeat;
    width: 258px;
    height: 261px;
    position: absolute;
    bottom: 27%;
    right: 14%;
  }

  .diamonds-bg {
    background: url('../../assets/img/diamonds_bg.png') center center no-repeat;
    width: 208px;
    height: 271px;
    position: absolute;
    bottom: 1%;
    left: 27%;
  }
}

@media (max-width: 1336px) {
  .wrapper {
    .enter-wrapper {
      .logo-wrapper {
        .logo {
          width: 280px;
          height: 114px;
        }
      }

      .terms {
        font-size: 14px;
        .custom-checkbox span {
          width: 14px;
          height: 14px;
          margin-right: 20px;
          background-size: cover;
        }
        .custom-checkbox input:checked + span {
          background-size: cover;
        }
      }
      .enter-btn {
        width: 160px;
        height: 50px;
        background-size: cover;
      }
    }
  }
}


