<div class="wrapper">
  <div class="top-page">
    <div class="logo-wrapper">
      <div class="logo"></div>
      <!--<button type="button" class="save-btn" *ngIf="isAllFilled()" (click)="save()">Save hand</button>-->
      <button type="button" class="reset-btn" *ngIf="hasCards()" (click)="reset()">Reset all</button>
    </div>
    <div class="set row">
      <div class="cards-wrapper" *ngFor="let cardsSet of cards">
        <div class="cards" *ngIf="showCards(cardsSet.name)" [ngClass]="cardsSet.name">
          <h3 class="cards-title">{{cardsSet.caption}}</h3>
          <ul class="cards-set">
            <li class="card"
                *ngFor="let card of cardsSet.set, index as cardIndex"
                [ngClass]="{'card-highlight': isCardSelected(cardsSet.name, cardIndex)}"
                (click)="selectCard(cardsSet.name, cardIndex)">
              <div class="card-face" *ngIf="card.rank || card.suit">
                <div class="card-img"
                     *ngIf="card.rank && card.suit"
                     [ngClass]="getCardClass(card.rank, card.suit)">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="stats row" *ngIf="flopStats || turnStats || riverStats">
    <div class="stat flop" *ngIf="flopStats">
      <div class="stat-img"></div>
      <div class="stat-content">
        <div class="stat-text">
          <h4>Your best hand:</h4>
          <div class="stat-inner-content">
            <div>{{flopStats.currentBestHand.handTypeString}}</div>
            <div>{{flopStats.currentBestHand.handSubTypeString}}</div>
            <div><b>Rank: </b> {{flopStats.currentBestHand.rank}}</div>
          </div>
          <button type="button" class="show-hands-btn" (click)="openModalForMe(flopStats, 'flop')">Show possible hands for me</button>
        </div>
        <div class="stat-list">
          <h4>Possible better hands by others at flop:</h4>
          <div class="stat-inner-content" *ngIf="flopStats.betterHandsList && flopStats.betterHandsList.length">
            <div class="stat-line">
              <div class="line"></div>
              <ul>
                <li *ngFor="let betterHand of flopStats.betterHandsList"
                    (click)="selectFlopHand(betterHand)"
                    [ngClass]="getHandClasses(betterHand.handTypeString, flopHand)">
                </li>
              </ul>
            </div>
            <div class="hand-btn" [ngClass]="getClassName(flopHand.handTypeString)">
              <div class="menu-icon"></div>
              <div>
                <b>{{flopHand.handTypeString}}</b> ({{flopHand.ways}})
              </div>
            </div>
          </div>
          <div class="no-stat" *ngIf="!flopStats.betterHandsList || !flopStats.betterHandsList.length">None</div>
          <button type="button" class="show-hands-btn" (click)="openModalForOther(flopStats, 'flop')">More info</button>
        </div>
      </div>
      <app-graph [stats]="flopStats"></app-graph>
    </div>
    <div class="stat turn" *ngIf="turnStats">
      <div class="stat-img"></div>
      <div class="stat-content">
        <div class="stat-text">
          <h4>Your best hand:</h4>
          <div class="stat-inner-content">
            <div>{{turnStats.currentBestHand.handTypeString}}</div>
            <div>{{turnStats.currentBestHand.handSubTypeString}}</div>
            <div><b>Rank: </b> {{turnStats.currentBestHand.rank}}</div>
          </div>
          <button type="button" class="show-hands-btn" (click)="openModalForMe(turnStats, 'turn')">Show possible hands for me</button>
        </div>
        <div class="stat-list">
          <h4>Possible better hands by others at turn:</h4>
          <div class="stat-inner-content" *ngIf="turnStats.betterHandsList && turnStats.betterHandsList.length">
            <div class="stat-line">
              <div class="line"></div>
              <ul>
                <li *ngFor="let betterHand of turnStats.betterHandsList"
                    (click)="selectTurnHand(betterHand)"
                    [ngClass]="getHandClasses(betterHand.handTypeString, turnHand)">
                </li>
              </ul>
            </div>
            <div class="hand-btn" [ngClass]="getClassName(turnHand.handTypeString)">
              <div class="menu-icon"></div>
              <div>
                <b>{{turnHand.handTypeString}}</b> ({{turnHand.ways}})
              </div>
            </div>
          </div>
          <div class="no-stat" *ngIf="!turnStats.betterHandsList || !turnStats.betterHandsList.length">None</div>
          <button type="button" class="show-hands-btn" (click)="openModalForOther(turnStats, 'turn')">More info</button>
        </div>
      </div>
      <app-graph [stats]="turnStats"></app-graph>
    </div>
    <div class="stat river" *ngIf="riverStats">
      <div class="stat-img"></div>
      <div class="stat-content">
        <div class="stat-text">
          <h4>Your best hand:</h4>
          <div class="stat-inner-content">
            <div>{{riverStats.currentBestHand.handTypeString}}</div>
            <div>{{riverStats.currentBestHand.handSubTypeString}}</div>
            <div><b>Rank: </b> {{riverStats.currentBestHand.rank}}</div>
          </div>
        </div>
        <div class="stat-list">
          <h4>Possible better hands by others at river:</h4>
          <div class="stat-inner-content" *ngIf="riverStats.betterHandsList && riverStats.betterHandsList.length">
            <div class="stat-line">
              <div class="line"></div>
              <ul>
                <li *ngFor="let betterHand of riverStats.betterHandsList"
                    (click)="selectRiverHand(betterHand)"
                    [ngClass]="getHandClasses(betterHand.handTypeString, riverHand)">
                </li>
              </ul>
            </div>
            <div class="hand-btn" [ngClass]="getClassName(riverHand.handTypeString)">
              <div class="menu-icon"></div>
              <div>
                <b>{{riverHand.handTypeString}}</b> ({{riverHand.ways}})
              </div>
            </div>
          </div>
          <div class="no-stat" *ngIf="!riverStats.betterHandsList || !riverStats.betterHandsList.length">None</div>
          <button type="button" class="show-hands-btn" (click)="openModalForOther(riverStats, 'river')">More info</button>
        </div>
      </div>
      <app-graph [stats]="riverStats"></app-graph>
    </div>
  </div>

  <div class="bottom-page">
    <div class="card-select">
      <ul class="ranks row" [ngClass]="{highlight: isRankSelectable()}">
        <li class="rank" *ngFor="let rank of ranks"
            [ngClass]="{'disabled': !isRankEnabled(rank.caption), 'highlight': isRankHighlighted(rank.caption)}"
            (click)="setRank(rank.caption)">
          <div class="rank-img" [ngClass]="getRankClass(rank.caption)"></div>
        </li>
      </ul>
      <ul class="suits row" [ngClass]="{highlight: isSuitSelectable()}">
        <li class="suit" *ngFor="let suit of suits" [ngClass]="{'disabled': !isSuitEnabled(suit.name)}" (click)="setSuit(suit.name)">
          <div class="suit-img" [ngClass]="getSuitClass(suit.name)"></div>
        </li>
      </ul>
    </div>

    <div class="row">
      <a class="tac-btn" (click)="openTACModal()">Terms and conditions</a>
    </div>
  </div>
</div>

<app-modal [show]="showModal"
           [modalMode]="modalMode"
           [stats]="modalStats"
           [modalType]="modalType"
           (close)="onCloseModal()">
</app-modal>

<app-reconnect-modal *ngIf="showReconnectModal"
                     [reconnecting]="reconnecting"
                     [time]="getReconnectTime()"
                     (reconnect)="onReconnect()">
</app-reconnect-modal>

<app-terms-and-conditions-modal *ngIf="showTACModal"
                                (close)="closeTacModal()">
</app-terms-and-conditions-modal>


