.wrapper {
  background: url('../../assets/img/bg_main 2.png') no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .row {
    width: 1560px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    position: relative;
  }

  .logo-wrapper {
    position: relative;
    margin: 20px auto;
    text-align: center;
    .logo {
      background: url("../../assets/img/web-logo_main 1.png") no-repeat;
      background-size: cover;
      display: inline-block;
      width: 201px;
      height: 82px;
    }
    .reset-btn {
      background: url('../../assets/img/reset-all.png');
      background-size: cover;
      border: none;
      color: transparent;
      height: 43px;
      width: 185px;
      position: absolute;
      right: 47px;
      bottom: 0;
    }
    .save-btn {
      background: url('../../assets/img/save-hand.png');
      background-size: cover;
      border: none;
      color: transparent;
      height: 43px;
      width: 185px;
      position: absolute;
      right: 270px;
      bottom: 0;
    }
  }

  .set {
    margin-top: 4px;
    &.space-below {
      margin-bottom: 345px;
    }
    .cards-wrapper {
      display: inline-block;
    }
  }

  .card-select {
    margin-top: 20px;
  }

  .cards {
    display: inline-block;
    margin-right: 100px;
    &.turn {
      margin-right: 0;
    }
    .cards-title {
      text-align: center;
      color: #fff;
      font-weight: bold;
    }
    .card {
      background: url("../../assets/img/card-back.png") no-repeat;
      background-size: cover;
      cursor: pointer;
      display: inline-block;
      width: 121px;
      height: 161px;
      margin: 40px 20px;
      position: relative;
      vertical-align: top;
      .card-face {
        background: #fff;
        border-radius: 12px;
        width: 121px;
        height: 161px;
        .card-img {
          width: 100%;
          height: 100%;
          background-size: cover;
          &.clubs-2 {
            background-image: url('../../assets/img/Cards/Clubs/2-clubs.png');
          }
          &.clubs-3 {
            background-image: url('../../assets/img/Cards/Clubs/3-clubs.png');
          }
          &.clubs-4 {
            background-image: url('../../assets/img/Cards/Clubs/4-clubs.png');
          }
          &.clubs-5 {
            background-image: url('../../assets/img/Cards/Clubs/5-clubs.png');
          }
          &.clubs-6 {
            background-image: url('../../assets/img/Cards/Clubs/6-clubs.png');
          }
          &.clubs-7 {
            background-image: url('../../assets/img/Cards/Clubs/7-clubs.png');
          }
          &.clubs-8 {
            background-image: url('../../assets/img/Cards/Clubs/8-clubs.png');
          }
          &.clubs-9 {
            background-image: url('../../assets/img/Cards/Clubs/9-clubs.png');
          }
          &.clubs-10 {
            background-image: url('../../assets/img/Cards/Clubs/10-clubs.png');
          }
          &.clubs-A {
            background-image: url('../../assets/img/Cards/Clubs/A-clubs.png');
          }
          &.clubs-J {
            background-image: url('../../assets/img/Cards/Clubs/J-clubs.png');
          }
          &.clubs-K {
            background-image: url('../../assets/img/Cards/Clubs/K-clubs.png');
          }
          &.clubs-Q {
            background-image: url('../../assets/img/Cards/Clubs/Q-clubs.png');
          }

          &.diamonds-2 {
            background-image: url('../../assets/img/Cards/Diamonds/2-diamonds.png');
          }
          &.diamonds-3 {
            background-image: url('../../assets/img/Cards/Diamonds/3-diamonds.png');
          }
          &.diamonds-4 {
            background-image: url('../../assets/img/Cards/Diamonds/4-diamonds.png');
          }
          &.diamonds-5 {
            background-image: url('../../assets/img/Cards/Diamonds/5-diamonds.png');
          }
          &.diamonds-6 {
            background-image: url('../../assets/img/Cards/Diamonds/6-diamonds.png');
          }
          &.diamonds-7 {
            background-image: url('../../assets/img/Cards/Diamonds/7-diamonds.png');
          }
          &.diamonds-8 {
            background-image: url('../../assets/img/Cards/Diamonds/8-diamonds.png');
          }
          &.diamonds-9 {
            background-image: url('../../assets/img/Cards/Diamonds/9-diamonds.png');
          }
          &.diamonds-10 {
            background-image: url('../../assets/img/Cards/Diamonds/10-diamonds.png');
          }
          &.diamonds-A {
            background-image: url('../../assets/img/Cards/Diamonds/A-diamonds.png');
          }
          &.diamonds-J {
            background-image: url('../../assets/img/Cards/Diamonds/J-diamonds.png');
          }
          &.diamonds-K {
            background-image: url('../../assets/img/Cards/Diamonds/K-diamonds.png');
          }
          &.diamonds-Q {
            background-image: url('../../assets/img/Cards/Diamonds/Q-diamonds.png');
          }

          &.hearts-2 {
            background-image: url('../../assets/img/Cards/Hearts/2-hearts.png');
          }
          &.hearts-3 {
            background-image: url('../../assets/img/Cards/Hearts/3-hearts.png');
          }
          &.hearts-4 {
            background-image: url('../../assets/img/Cards/Hearts/4-hearts.png');
          }
          &.hearts-5 {
            background-image: url('../../assets/img/Cards/Hearts/5-hearts.png');
          }
          &.hearts-6 {
            background-image: url('../../assets/img/Cards/Hearts/6-hearts.png');
          }
          &.hearts-7 {
            background-image: url('../../assets/img/Cards/Hearts/7-hearts.png');
          }
          &.hearts-8 {
            background-image: url('../../assets/img/Cards/Hearts/8-hearts.png');
          }
          &.hearts-9 {
            background-image: url('../../assets/img/Cards/Hearts/9-hearts.png');
          }
          &.hearts-10 {
            background-image: url('../../assets/img/Cards/Hearts/10-hearts.png');
          }
          &.hearts-A {
            background-image: url('../../assets/img/Cards/Hearts/A-hearts.png');
          }
          &.hearts-J {
            background-image: url('../../assets/img/Cards/Hearts/J-hearts.png');
          }
          &.hearts-K {
            background-image: url('../../assets/img/Cards/Hearts/K-hearts.png');
          }
          &.hearts-Q {
            background-image: url('../../assets/img/Cards/Hearts/Q-hearts.png');
          }

          &.spades-2 {
            background-image: url('../../assets/img/Cards/Spades/2-spades.png');
          }
          &.spades-3 {
            background-image: url('../../assets/img/Cards/Spades/3-spades.png');
          }
          &.spades-4 {
            background-image: url('../../assets/img/Cards/Spades/4-spades.png');
          }
          &.spades-5 {
            background-image: url('../../assets/img/Cards/Spades/5-spades.png');
          }
          &.spades-6 {
            background-image: url('../../assets/img/Cards/Spades/6-spades.png');
          }
          &.spades-7 {
            background-image: url('../../assets/img/Cards/Spades/7-spades.png');
          }
          &.spades-8 {
            background-image: url('../../assets/img/Cards/Spades/8-spades.png');
          }
          &.spades-9 {
            background-image: url('../../assets/img/Cards/Spades/9-spades.png');
          }
          &.spades-10 {
            background-image: url('../../assets/img/Cards/Spades/10-spades.png');
          }
          &.spades-A {
            background-image: url('../../assets/img/Cards/Spades/A-spades.png');
          }
          &.spades-J {
            background-image: url('../../assets/img/Cards/Spades/J-spades.png');
          }
          &.spades-K {
            background-image: url('../../assets/img/Cards/Spades/K-spades.png');
          }
          &.spades-Q {
            background-image: url('../../assets/img/Cards/Spades/Q-spades.png');
          }
        }
      }
      &.card-highlight {
        background: url("../../assets/img/card-back-hightlight.png") no-repeat;
        background-size: cover;
        cursor: default;
        width: 201px;
        height: 241px;
        margin: 0 -20px;
        .card-face {
          margin-top: 40px;
          margin-left: 40px;
        }
      }

    }

  }

  .ranks {
    font-size: 0;
    .rank {
      display: inline-block;
      padding: 40px;
      margin: -18px -18px;
      &.highlight {
        background-image: url('../../assets/img/card_shine-small.png');
        background-size: cover;
        cursor: pointer;
        width: 140px;
        height: 160px;
        &.disabled {
          background-image: none;
          cursor: default;
        }
      }
      .rank-img {
        background-size: cover;
        width: 60px;
        height: 80px;

        &.rank-2 {
          background-image: url('../../assets/img/Cards/2.png');
        }
        &.rank-3 {
          background-image: url('../../assets/img/Cards/3.png');
        }
        &.rank-4 {
          background-image: url('../../assets/img/Cards/4.png');
        }
        &.rank-5 {
          background-image: url('../../assets/img/Cards/5.png');
        }
        &.rank-6 {
          background-image: url('../../assets/img/Cards/6.png');
        }
        &.rank-7 {
          background-image: url('../../assets/img/Cards/7.png');
        }
        &.rank-8 {
          background-image: url('../../assets/img/Cards/8.png');
        }
        &.rank-9 {
          background-image: url('../../assets/img/Cards/9.png');
        }
        &.rank-10 {
          background-image: url('../../assets/img/Cards/10.png');
        }
        &.rank-A {
          background-image: url('../../assets/img/Cards/A.png');
        }
        &.rank-J {
          background-image: url('../../assets/img/Cards/J.png');
        }
        &.rank-K {
          background-image: url('../../assets/img/Cards/K.png');
        }
        &.rank-Q {
          background-image: url('../../assets/img/Cards/Q.png');
        }
      }

    }
    &.highlight {
      .rank {
        background-image: url('../../assets/img/card_shine-small.png');
        background-size: cover;
        cursor: pointer;
        width: 140px;
        height: 160px;
        &.disabled {
          background-image: none;
          cursor: default;
        }
      }
    }
  }

  .suits {
    font-size: 0;
    .suit {
      display: inline-block;
      margin: -18px -18px;
      padding: 40px;
      .suit-img {
        background-size: cover;
        width: 60px;
        height: 80px;
        &.suit-clubs {
          background-image: url('../../assets/img/Cards/clubs.png');
        }
        &.suit-diamonds {
          background-image: url('../../assets/img/Cards/diamonds.png');
        }
        &.suit-hearts {
          background-image: url('../../assets/img/Cards/hearts.png');
        }
        &.suit-spades {
          background-image: url('../../assets/img/Cards/spades.png');
        }
      }
    }
    &.highlight {
      .suit {
        background-image: url('../../assets/img/card_shine-small.png');
        background-size: cover;
        cursor: pointer;
        width: 140px;
        height: 160px;
        &.disabled {
          background-image: none;
        }
      }
    }
  }

  .stats {
    margin-top: 20px;

    .stat {
      color: #fff;
      position: relative;
      display: inline-block;
      margin-right: 25px;

      .stat-img {
        position: absolute;
        top: -20px;
        left: 10px;
        width: 186px;
        height: 51px;
      }
      &.flop .stat-img {
        background: url('../../assets/img/web-flop-stats 2.png');
        background-size: cover;
      }
      &.turn .stat-img {
        background: url('../../assets/img/web-turn-stats-web 2.png');
        background-size: cover;
      }
      &.river .stat-img {
        background: url('../../assets/img/web-river-stats 1.png');
        background-size: cover;
      }
      .stat-content {
        background-image:  url('../../assets/img/web-bg_content 2.png');
        background-size: cover;
        padding: 40px 20px 20px 30px;
        width: 495px;
        height: 234px;
        margin-bottom: 5px;

        .stat-inner-content {
          overflow-y: auto;
          &::-webkit-scrollbar {
            width: 4px;
          }

          &::-webkit-scrollbar-track {
            border-radius: 2px;
            background-color: #000;
          }

          &::-webkit-scrollbar-thumb {
            background-color: rgb(122,108,221);
          }
        }

        .stat-text {
          display: inline-block;
          width: 220px;
          margin-right: 6px;
          vertical-align: top;
          height: 110px;
          h4 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
          }

          .stat-inner-content {
            height: 130px;
            padding-top: 20px;
            div:first-child {
              margin-bottom: 10px;
            }
            div:nth-child(2) {
              margin-bottom: 20px;
            }
          }

          .show-hands-btn {
            background: transparent url('../../assets/img/web-show-possible-hands-for-me.png');
            border: none;
            color: transparent;
            position: relative;
            left: -15px;
            width: 235px;
            height: 29px;
          }
        }

        .stat-list {
          width: 210px;
          display: inline-block;
          h4 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
          }

          .stat-inner-content {
            height: 114px;
          }

          .show-hands-btn {
            background: transparent url('../../assets/img/web-more-info 1.png');
            border: none;
            color: transparent;
            position: relative;
            width: 122px;
            height: 29px;
            left: 23px;
          }

          .stat-line {
            position: relative;
            margin-top: 24px;
            margin-bottom: 10px;
            .line {
              position: absolute;
              background: #fff;
              border-radius: 4px;
              height: 4px;
              top: 6px;
              width: 100%;
              z-index: 1;
            }

            ul {
              display: flex;
              justify-content: space-around;
              position: relative;
              z-index: 2;
              li {
                cursor: pointer;
                height: 17px;
                width: 17px;
                position: relative;
                &.high-card {
                  background: url('../../assets/img/dot-high-card.png') center center no-repeat;
                  &.active {
                    background: url('../../assets/img/dot-active-high-card.png') center center no-repeat;
                    &:before {
                      content: '';
                      background: url('../../assets/img/arrow-high-card.png') center center no-repeat;
                      width: 19px;
                      height: 14px;
                      position: absolute;
                      top: -18px;
                      left: -1px;
                    }
                  }
                }

                &.one-pair {
                  background: url('../../assets/img/dot-one-pair.png') center center no-repeat;
                  &.active {
                    background: url('../../assets/img/dot-active-one-pair.png') center center no-repeat;
                    &:before {
                      content: '';
                      background: url('../../assets/img/arrow-one-pair.png') center center no-repeat;
                      width: 19px;
                      height: 14px;
                      position: absolute;
                      top: -18px;
                      left: -1px;
                    }
                  }
                }

                &.two-pair {
                  background: url('../../assets/img/dor-two-pair.png') center center no-repeat;
                  &.active {
                    background: url('../../assets/img/dot-active-two-pair.png') center center no-repeat;
                    &:before {
                      content: '';
                      background: url('../../assets/img/arrow-two-pair.png') center center no-repeat;
                      width: 19px;
                      height: 14px;
                      position: absolute;
                      top: -18px;
                      left: -1px;
                    }
                  }
                }

                &.three-of-a-kind {
                  background: url('../../assets/img/dot-three-of-a-kind.png') center center no-repeat;
                  &.active {
                    background: url('../../assets/img/dor-active-three-of-a-kind.png') center center no-repeat;
                    &:before {
                      content: '';
                      background: url('../../assets/img/arrow-three-of-a-kind.png') center center no-repeat;
                      width: 19px;
                      height: 14px;
                      position: absolute;
                      top: -18px;
                      left: -1px;
                    }
                  }
                }

                &.four-of-a-kind {
                  background: url('../../assets/img/dot-Four-of-a-kind.png') center center no-repeat;
                  &.active {
                    background: url('../../assets/img/dot-active-Four-of-a-kind.png') center center no-repeat;
                    &:before {
                      content: '';
                      background: url('../../assets/img/arrow-Four-of-a-kind.png') center center no-repeat;
                      width: 19px;
                      height: 14px;
                      position: absolute;
                      top: -18px;
                      left: -1px;
                    }
                  }
                }

                &.five-of-a-kind {
                  background: url('../../assets/img/dot-Five-of-a-kind.png') center center no-repeat;
                  &.active {
                    background: url('../../assets/img/dot-active-Five-of-a-kind.png') center center no-repeat;
                    &:before {
                      content: '';
                      background: url('../../assets/img/Assets desktop-88.png') center center no-repeat;
                      width: 19px;
                      height: 14px;
                      position: absolute;
                      top: -18px;
                      left: -1px;
                    }
                  }
                }

                &.full-house {
                  background: url('../../assets/img/dot-full-house.png') left center no-repeat;
                  &.active {
                    background: url('../../assets/img/dot-active-full-house.png') center center no-repeat;
                    &:before {
                      content: '';
                      background: url('../../assets/img/arrow-full-house.png') center center no-repeat;
                      width: 19px;
                      height: 14px;
                      position: absolute;
                      top: -18px;
                      left: -1px;
                    }
                  }
                }

                &.straight {
                  background: url('../../assets/img/dot-Straight.png') left center no-repeat;
                  &.active {
                    background: url('../../assets/img/dot-active-Straight.png') center center no-repeat;
                    &:before {
                      content: '';
                      background: url('../../assets/img/arrow-Straight.png') center center no-repeat;
                      width: 19px;
                      height: 14px;
                      position: absolute;
                      top: -18px;
                      left: -1px;
                    }
                  }
                }

                &.flush {
                  background: url('../../assets/img/dot-Flush.png') left center no-repeat;
                  &.active {
                    background: url('../../assets/img/dot-active-Flush.png') center center no-repeat;
                    &:before {
                      content: '';
                      background: url('../../assets/img/arrow-Flush.png') center center no-repeat;
                      width: 19px;
                      height: 14px;
                      position: absolute;
                      top: -18px;
                      left: -1px;
                    }
                  }
                }

                &.straight-flush {
                  background: url('../../assets/img/dot-Straight-flush.png') left center no-repeat;
                  &.active {
                    background: url('../../assets/img/dot-active-Straight-flush.png') center center no-repeat;
                    &:before {
                      content: '';
                      background: url('../../assets/img/arrow-Straight-flush.png') center center no-repeat;
                      width: 19px;
                      height: 14px;
                      position: absolute;
                      top: -18px;
                      left: -1px;
                    }
                  }
                }

                &.other {
                  background: url('../../assets/img/dot-other.png') left center no-repeat;
                  &.active {
                    background: url('../../assets/img/dot-active-other.png') center center no-repeat;
                    &:before {
                      content: '';
                      background: url('../../assets/img/arrow-other.png') center center no-repeat;
                      width: 19px;
                      height: 14px;
                      position: absolute;
                      top: -18px;
                      left: -1px;
                    }
                  }
                }
              }
            }
          }

          .no-stat {
            font-weight: bold;
            height: 110px;
            padding-top: 30px;
          }

          .hand-btn {
            border-radius: 10px;
            padding: 5px;
            width: 100%;
            font-size: 14px;
            .menu-icon {
              background: url('../../assets/img/menu-icon 1.png');
              background-size: cover;
              width: 24px;
              height: 23px;
              margin-right: 10px;
              vertical-align: middle;
            }
            img {
              margin-right: 10px;
              vertical-align: middle;
            }
            & > div {
              display: inline-block;
            }
            &.high-card {
              background: rgb(23,184,255);
            }

            &.one-pair {
              background: rgb(102,102,255);
            }

            &.two-pair {
              background: rgb(255,69,3);
            }

            &.three-of-a-kind {
              background: rgb(206,181,2);
            }

            &.four-of-a-kind {
              background: rgb(255,101,0);
            }

            &.five-of-a-kind {
              background: rgb(150,31,234);
            }

            &.full-house {
              background: rgb(13,211,74);
            }

            &.straight {
              background: rgb(2, 173, 99);
            }

            &.flush {
              background: rgb(229,69,229);
            }

            &.straight-flush {
              background: rgb(147,219,7);
            }

            &.other {
              background: rgb(0,0,0);
            }
          }
        }
      }
    }
  }

  .tac-btn {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

.modal-drop {
  display: none;
  background: rgba(4,4,30, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .modal {
    background: url('../../assets/img/web-pop-up-bg 1.png');
    height: 807px;
    width: 1017px;
    margin: 66px auto;
    padding: 60px 20px 20px 64px;
    position: relative;
    .stat-img {
      position: absolute;
      top: -20px;
      left: 64px;
      width: 186px;
      height: 51px;
    }
    &.flop .stat-img {
      background: url('../../assets/img/web-flop-stats 2.png');
    }
    &.turn .stat-img {
      background: url('../../assets/img/web-turn-stats-web 2.png');
    }
    &.river .stat-img {
      background: url('../../assets/img/web-river-stats 1.png');
    }
    .cancel {
      position: absolute;
      right: 33px;
      top: 30px;
    }
    button.show {
      background: rgb(43,9,79);
      border: 1px solid rgb(21,116,255);
      border-radius: 20px;
      color: rgb(21,116,255);
      font-size: 18px;
      padding: 5px 20px;
    }
    h3 {
      margin-top: 25px;
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }
    .arrows {
      margin-top: 30px;
      text-align: center;
      .arrow {
        display: inline-block;
        width: 31px;
        height: 17px;
        margin-right: 40px;
        background-size: cover;
        &:last-child {
          margin-right: 0;
        }
      }

      .high-card {
        background: url('../../assets/img/web-arrow-high-card.png') left center no-repeat;
        background-size: cover;
      }

      .one-pair {
        background: url('../../assets/img/web-arrow-one-pair.png') left center no-repeat;
        background-size: cover;
      }

      .two-pair {
        background: url('../../assets/img/web-arrow-two-pair.png') left center no-repeat;
        background-size: cover;
      }

      .three-of-a-kind {
        background: url('../../assets/img/web-arrow-three-of-a-kind.png') left center no-repeat;
        background-size: cover;
      }

      .four-of-a-kind {
        background: url('../../assets/img/web-arrow-Four-of-a-kind.png') left center no-repeat;
        background-size: cover;
      }

      .five-of-a-kind {
        background: url('../../assets/img/web-arrow-Five-of-a-kind.png') left center no-repeat;
        background-size: cover;
      }

      .full-house {
        background: url('../../assets/img/web-arrow-full-house.png') left center no-repeat;
        background-size: cover;
      }

      .straight {
        background: url('../../assets/img/web-arrow-Straight.png') left center no-repeat;
        background-size: cover;
      }

      .flush {
        background: url('../../assets/img/web-arrow-Flush.png') left center no-repeat;
        background-size: cover;
      }

      .straight-flush {
        background: url('../../assets/img/web-arrow-Straight-flush.png') left center no-repeat;
        background-size: cover;
      }

      .other {
        background: url('../../assets/img/web-arrow-other.png') left center no-repeat;
        background-size: cover;
      }
    }
    button.nav {
      background: rgb(133,221,255);
      border: none;
      border-radius: 10px;
      color: #fff;
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      margin-top: 22px;
      text-align: center;
      position: relative;
      line-height: 40px;
      .nav-arrow-left {
        position: absolute;
        opacity: 0.5;
        left: 40px;
        top: 7px;
        transform: rotate(180deg);
      }
      .nav-arrow-right {
        position: absolute;
        right: 40px;
        top: 7px;
      }
    }
  }
}

@media (max-width: 1600px) {

  .wrapper {
    .logo-wrapper {
      margin-bottom: 24px;
      .logo {
        height: 41px;
        width: 100px;
      }
      .reset-btn {
        width: 129px;
        height: 30px;
      }
      .save-btn {
        width: 129px;
        height: 30px;
        right: 200px;
      }
    }

    .card-select {
      margin-top: 15px;
    }

    .set {
      &.space-below {
        margin-bottom: 222px;
      }
    }

    .cards {
      margin-right: 40px;
      .card {
        width: 90px;
        height: 120px;
        margin: 28px 14px;
        .card-face {
          height: 120px;
          width: 90px;
        }
        &.card-highlight {
          width: 146px;
          height: 176px;
          margin: 0 -14px;
          .card-face {
            margin-top: 28px;
            margin-left: 28px;
          }
        }
      }
    }

    .stats {
      margin-top: 10px;
      .stat {
        font-size: 11px;
        .stat-img {
          top: -12px;
          width: 132px;
          height: 36px;
        }
        .stat-content {
          width: 350px;
          height: 165px;
          padding: 23px 18px 20px 18px;
          margin-bottom: 5px;
          .stat-text {
            width: 162px;
            margin-right: 5px;
            h4 {
              font-size: 12px;
            }
            .stat-inner-content {
              padding-top: 12px;
              height: 90px;
            }
            .show-hands-btn {
              background-size: cover;
              left: -8px;
              width: 165px;
              height: 20px;
            }
          }
          .stat-list {
            width: 145px;
            font-size: 11px;
            h4 {
              font-size: 12px;
            }
            .stat-inner-content, .no-stat {
              height: 78px;
            }
            .show-hands-btn {
              background-size: cover;
              width: 84px;
              height: 20px;
            }
            .hand-btn {
              white-space: nowrap;
              overflow: hidden;
              font-size: 10px;
              padding: 2px 4px;
              border-radius: 5px;
              .menu-icon {
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }

    .ranks {
      .rank {
        padding: 26px;
        margin: -9px -15px;
        .rank-img {
          width: 40px;
          height: 53px;
        }
        &.highlight {
          width: 92px;
          height: 105px;
        }
      }
      &.highlight {
        .rank {
          width: 92px;
          height: 105px;
        }
      }
    }

    .suits {
      margin-top: -10px;
      .suit {
        padding: 26px;
        margin: -9px -15px;
        .suit-img {
          width: 40px;
          height: 53px;
        }
      }
      &.highlight {
        .suit {
          width: 92px;
          height: 105px;
        }
      }
    }

    .tac-btn {
      font-size: 11px;
    }
  }

}
