.stat-graph {
  height: 15px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
  .worse, .same, .better {
    font-size: 0;
    display: inline-block;
    height: 15px;
  }
  .worse {
    background: #03EF62;
  }
  .same {
    background: #FFEF5A;
  }
  .better {
    background: #FF4503;
  }
}
.stat-legend {
  .worse, .same, .better {
    display: inline-block;
    text-align: center;
    vertical-align: top;
  }
  .worse {
    width: 33.333%;
    color: #03EF62;
  }
  .same {
    width: 33.333%;
    color: #FFEF5A;
  }
  .better {
    width: 33.333%;
    color: #FF4503;
  }
}

@media (max-width: 1336px) {
  .stat-graph {
    height: 10px;
  }
}
